@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    background-image: url("../bgs/bgVis.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* header */
header{
    text-align: center;
}

header > h2{
    font-family: "Quicksand", sans-serif;
    letter-spacing: 5px;
    font-size: 4em;
    text-shadow: 0 0 5px #ea500e,
                 0 0 10px #e06a37;
}

header > h5{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 2em;
    max-width: 55%;
    margin: 0 auto;
    text-shadow: 0 0 5px #f13964,
                 0 0 10px #fedbfe;
}


/* navigation */
.nav{
    text-align: center;
}

.nav-list > li{
    font-family: "Quicksand", sans-serif;
    font-size: 150%;
    font-weight: 800;
    padding: 5%;
    display: inline;
}

/* arts */
.arts{
    text-align: center;
    font-size: 150%;
}

.col1, .col2, .col3, .col21, .col22, .col23{
    box-sizing: border-box;
    list-style: none;
    text-justify: inter-word;
    display: inline-block;
    padding: 0;
    max-width: 30%;
    margin-left: 0;
    text-shadow: 0 0 5px #ffc2dc;
    margin-right: 0;
    font-size: 120%;
    border-radius: 8%;
}

p{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

/* imgs */
img{
    padding: 1%;
    width: 80%;
    height: 80%;
    transition: 1s ease;
}

img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff104c;
    text-shadow: 0 0 5px #ff5ea4;
}